# Arithmetic Operations Pandas

In [3]:
import pandas as pd

var=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})

print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

#### Addition Of 2 columns

In [13]:
var["SUM"] = var["A"] + var["B"]

print(var)

   A  B   C  D   E         F       DIV  MUL  SUB  SUM
0  1  5   6 -4   5  0.200000  0.200000    5   -4    6
1  2  6   8 -4  12  0.333333  0.333333   12   -4    8
2  3  7  10 -4  21  0.428571  0.428571   21   -4   10
3  4  8  12 -4  32  0.500000  0.500000   32   -4   12

#### Substraction of 2 columns

In [12]:
var["SUB"] = var["A"] - var["B"]

print(var)

   A  B   C  D   E         F       DIV  MUL  SUB
0  1  5   6 -4   5  0.200000  0.200000    5   -4
1  2  6   8 -4  12  0.333333  0.333333   12   -4
2  3  7  10 -4  21  0.428571  0.428571   21   -4
3  4  8  12 -4  32  0.500000  0.500000   32   -4

#### Mutiplication of 2 Columns

In [10]:
var["MUL"] = var["A"] * var["B"]

print(var)

   A  B   C  D   E         F       DIV  MUL
0  1  5   6 -4   5  0.200000  0.200000    5
1  2  6   8 -4  12  0.333333  0.333333   12
2  3  7  10 -4  21  0.428571  0.428571   21
3  4  8  12 -4  32  0.500000  0.500000   32

#### Division of 2 columns

In [11]:
var["DIV"] = var["A"] / var["B"]

print(var)

   A  B   C  D   E         F       DIV  MUL
0  1  5   6 -4   5  0.200000  0.200000    5
1  2  6   8 -4  12  0.333333  0.333333   12
2  3  7  10 -4  21  0.428571  0.428571   21
3  4  8  12 -4  32  0.500000  0.500000   32

#### Boolean Operation

In [17]:
var1=pd.DataFrame({"A":[10,20,30,40],"B":[15,16,17,18]})

var1["Python"] = var1["A"] <= 20
var1["Python1"] = var1["B"] >= 16
var1

    A   B  Python  Python1
0  10  15    True    False
1  20  16    True     True
2  30  17   False     True
3  40  18   False     True