# Replace

In [2]:
import pandas as pd

var = pd.read_csv('diabetes.csv')

var

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,NaN,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,NaN,0,0,37.6,0.191,30.0,0
11,NaN,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,NaN,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,0

In [6]:
#you can replace any value By anything!
var.replace(to_replace=11,value=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,NaN,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,NaN,0,0,37.6,0.191,30.0,0
11,NaN,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,NaN,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,0

In [11]:
#regex mainly used to replace the a single alphabet with someword!
var.replace(["A-Za-z",0],"python",regex=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,python,33.6,0.627,50.0,1
1,1.0,85,66.0,29,python,26.6,0.351,31.0,python
2,8.0,183,64.0,python,python,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,python
4,python,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,python,python,25.6,0.201,30.0,python
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,python,python,python,35.3,0.134,NaN,python
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,python,python,python,0.232,54.0,1
10,4.0,110,NaN,python,python,37.6,0.191,30.0,python
11,NaN,168,74.0,python,python,38.0,0.537,34.0,1
12,10.0,139,80.0,python,python,27.1,1.441,57.0,python
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,python,python,python,30.0,0.484,32.0,1
16,python,118,NaN,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,python,python,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,python

In [20]:
var

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,NaN,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,NaN,0,0,37.6,0.191,30.0,0
11,NaN,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,NaN,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,0

# Interpolate

In [22]:
#this only works with numeric data it fills data according to previous and further data
var.interpolate()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,0.259,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,39.5,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,85.0,0,0,37.6,0.191,30.0,0
11,7.0,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,1.014,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,37.0,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,31.0,0

##### methods of interpolate :{'linear','time','values','nearest','zero','slinear','quadratic','cubic','barycentric','krogh','polynomial','spline','piecewise_polynomial','from_derivative','pchip','akima'}

In [29]:
#methods can be used to tell the way to fill the data using what parameter method of maths calculations to be used!

var.interpolate(method="linear")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,0.259,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,39.5,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,85.0,0,0,37.6,0.191,30.0,0
11,7.0,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,1.014,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,37.0,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,31.0,0

In [31]:
#inplace used to set the ouput data as the original data
var.interpolate(method="quadratic",inplace=True)

var

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.000000,148,72.000000,35,0,33.6,0.627000,50.000000,1
1,1.000000,85,66.000000,29,0,26.6,0.351000,31.000000,0
2,8.000000,183,64.000000,0,0,23.3,-0.340072,32.000000,1
3,1.000000,89,66.000000,23,94,28.1,0.167000,21.000000,0
4,0.000000,137,40.000000,35,168,43.1,2.288000,33.000000,1
5,5.000000,116,74.000000,0,0,25.6,0.201000,30.000000,0
6,3.000000,78,50.000000,32,88,31.0,0.248000,26.000000,1
7,10.000000,115,0.000000,0,0,35.3,0.134000,37.726595,0
8,2.000000,197,70.000000,45,543,30.5,0.158000,53.000000,1
9,8.000000,125,96.000000,0,0,0.0,0.232000,54.000000,1
10,4.000000,110,85.545116,0,0,37.6,0.191000,30.000000,0
11,7.926753,168,74.000000,0,0,38.0,0.537000,34.000000,1
12,10.000000,139,80.000000,0,0,27.1,1.441000,57.000000,0
13,1.000000,189,60.000000,23,846,30.1,1.222993,59.000000,1
14,5.000000,166,72.000000,19,175,25.8,0.587000,51.000000,1
15,7.000000,100,0.000000,0,0,30.0,0.484000,32.000000,1
16,0.000000,118,26.490931,47,230,45.8,0.551000,31.000000,1
17,7.000000,107,74.000000,0,0,29.6,0.254000,31.000000,1
18,1.000000,103,30.000000,38,83,43.3,0.183000,NaN,0