# Join

In [25]:
import pandas as pd

var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[11,21],"B":[51,61]},index=["a","b"])

var2.join(var1,lsuffix="12",rsuffix="12",how="outer")

      C   B12  A  B12
a  11.0  51.0  1    5
b  21.0  61.0  2    6
c   NaN   NaN  3    7
d   NaN   NaN  4    8

# Append

In [27]:
var1 = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[11,21],"B":[51,61]},index=["a","b"])

#append has been removed from DataFrame now!