## dropna and fillna to handle missing Data

In [4]:
import pandas as pd

var = pd.read_csv('diabetes.csv')

var

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,NaN,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,NaN,0,0,37.6,0.191,30.0,0
11,NaN,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,NaN,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,0

### Drop missing Data

In [8]:
#drops row of missing cells
var.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1

In [9]:
#drops column of missing cells
var.dropna(axis=1)

    Glucose  SkinThickness  Insulin   BMI  Outcome
0       148             35        0  33.6        1
1        85             29        0  26.6        0
2       183              0        0  23.3        1
3        89             23       94  28.1        0
4       137             35      168  43.1        1
5       116              0        0  25.6        0
6        78             32       88  31.0        1
7       115              0        0  35.3        0
8       197             45      543  30.5        1
9       125              0        0   0.0        1
10      110              0        0  37.6        0
11      168              0        0  38.0        1
12      139              0        0  27.1        0
13      189             23      846  30.1        1
14      166             19      175  25.8        1
15      100              0        0  30.0        1
16      118             47      230  45.8        1
17      107              0        0  29.6        1
18      103             38       83  43.3        0

In [10]:
#dropping the cell row where any value is null in a row

var.dropna(how = "any")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1

In [13]:
#dropping the row where all values are null and ignores any other

var.dropna(how = "all")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,NaN,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,NaN,0,0,37.6,0.191,30.0,0
11,NaN,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,NaN,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,0

In [16]:
#subset parameter in dropna removing certain columns null values row!

var.dropna(subset = ["Age"])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,NaN,0,0,37.6,0.191,30.0,0
11,NaN,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,NaN,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1

In [27]:
#inplace parameter : removes null data rows and creates a new dataset

#var.dropna(inplace=True)

#var

In [23]:
#thresh paramete used to remove the specific null values row !
#var.dropna(thresh=3)

## Fillna

In [33]:
#fillna can be used to fill the null vales with the specific data

var1 = pd.read_csv('diabetes.csv')

#var1.fillna(0) #to all data's

var1.fillna({"Pregnancies":"Nigga","BloodPressure":"Kaalu"}) #To fill values according to the columns

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,NaN,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,NaN,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,Kaalu,0,0,37.6,0.191,30.0,0
11,Nigga,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,NaN,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,Kaalu,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,0

In [38]:
#We can fill null value with either farwardfill{means filling with next data} obj.ffill()
#Backwardfill{means filling with previous data} obj.bfill()
var1.bfill()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
2,8.0,183,64.0,0,0,23.3,0.167,32.0,1
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
7,10.0,115,0.0,0,0,35.3,0.134,53.0,0
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
10,4.0,110,74.0,0,0,37.6,0.191,30.0,0
11,10.0,168,74.0,0,0,38.0,0.537,34.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
13,1.0,189,60.0,23,846,30.1,0.587,59.0,1
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
16,0.0,118,74.0,47,230,45.8,0.551,31.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1
18,1.0,103,30.0,38,83,43.3,0.183,NaN,0

In [41]:
var.fillna(12,inplace=True)

var

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1

In [42]:
var.fillna(12,limit=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0,33.6,0.627,50.0,1
1,1.0,85,66.0,29,0,26.6,0.351,31.0,0
3,1.0,89,66.0,23,94,28.1,0.167,21.0,0
4,0.0,137,40.0,35,168,43.1,2.288,33.0,1
5,5.0,116,74.0,0,0,25.6,0.201,30.0,0
6,3.0,78,50.0,32,88,31.0,0.248,26.0,1
8,2.0,197,70.0,45,543,30.5,0.158,53.0,1
9,8.0,125,96.0,0,0,0.0,0.232,54.0,1
12,10.0,139,80.0,0,0,27.1,1.441,57.0,0
14,5.0,166,72.0,19,175,25.8,0.587,51.0,1
15,7.0,100,0.0,0,0,30.0,0.484,32.0,1
17,7.0,107,74.0,0,0,29.6,0.254,31.0,1